# Telegram Bot Token from BotFather
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Qdrant configuration
QDRANT_URL=https://YOUR-QDRANT-ENDPOINT
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_COLLECTION_PRICE=qdrant_collection_price

# Postgres configuration
POSTGRES_USER=postgre_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
POSTGRES_PORT=postgres_port_num
DATABASE_URL=postgresql://postgre_user:postgre_user_password@localhost:postgres_port_num/postgres_db

# Bot configuration
BOT_NAME=ChatGPTBot
DEBUG=true
